{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="ten wide column">
        <div class="ui attached segment">
            <div class="fields">
                <div class="eight wide field">
                    {{ form_row(form.code) }}
                </div>
                <div class="eight wide field">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    {{ form_row(form.category) }}
                </div>
                <div class="four wide field">
                    {{ form_row(form.channels) }}
                </div>
                <div class="four wide field">
                    {{ form_row(form.enabled) }}
                </div>
            </div>
        </div>
    </div>
    <div class="six wide column">
        <div class="ui attached segment">
            {{ 'setono_sylius_google_ads.ui.conversion_action_explainer'|trans|raw }}
        </div>
    </div>
</div>
